extends ../index

block main 
    div(class="container mt-5")
        div(class="row")
            each post in posts 
                div(class="col col-lg-4")
                    .card.mb-3(style='max-width: 540px;')
                        .row.g-0
                            .col-md-4
                                //- img(src='...', alt='...')
                            .col-md-8
                                .card-body
                                    a(href=`/posts/view/${post.id}`)
                                        h5.card-title #{post.title}
                                    p.card-text #{post.content}
                                    p.card-text
                                        small.text-muted Last updated 3 mins ago

        div(class="row")
            nav(aria-label='...', class="mt-4")
              ul.pagination
                if page > 1
                    li.page-item
                        a.page-link(href=`?page=${page - 1}`, tabindex='-1', aria-disabled='true') Previous

                - let i = 1;
                while i <= totalPage
                    li.page-item
                        a.page-link(href=`?page=${i}`)= i++

                if page < totalPage
                    li.page-item
                        a.page-link(href=`?page=${page + 1}`) Next
                